### pandas: Series vs DataFrame [Домашнее задание]
> **Вы должны импортировать все необходимые пакеты самостоятельно.**

> **Пишите код только там, где это показано для записи. Не удаляйте комментарии!**

1. Пожалуйста, напишите функцию ```load_data(filename)```, которая будет загружать данные из csv-файла в ```DataFrame```. Файл ```Social_Network_Ads.csv``` предоставлен вместе с этим jupyter notebook.


**Примечание:**

* В случае, если имя файла задано неверно, функция ```load_data``` должна вывести следующее сообщение об ошибке:

```{имя файла} does not exist```

In [ ]:
#Начало вашего кода
import numpy as np
import pandas as pd

def load_data(filename):
    header = None
    data = None
    try:
        with open(filename) as csvfile:
            df = pd.read_csv(csvfile)
            return df.columns.to_list(), df
    except:
        print("{} does not exist!".format(filename))
        return header, data
#Конец вашего кода

In [ ]:
filename = "./SocialNetworkAds.csv"
header, data = load_data(filename=filename)

./SocialNetworkAds.csv does not exist!

### Ожидаемый результат:

```
./SocialNetworkAds.csv does not exist
```

In [ ]:
print(header)
print(data)

None
None

### Ожидаемый результат:

```
None
None
```

In [ ]:
filename = "./Social_Network_Ads.csv"
header, data = load_data(filename=filename)

In [ ]:
print(header)

['User ID', 'Gender', 'Age', 'EstimatedSalary', 'Purchased']

### Ожидаемый результат:

```
['User ID', 'Gender', 'Age', 'EstimatedSalary', 'Purchased']
```

**Распечатайте первые и последние 5 строк pandas.DataFrame:**

In [ ]:
#Начало вашего кода
print(data[:5])
print(data[-5:])
#Конец вашего кода

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0
      User ID  Gender  Age  EstimatedSalary  Purchased
395  15691863  Female   46            41000          1
396  15706071    Male   51            23000          1
397  15654296  Female   50            20000          1
398  15755018    Male   36            33000          0
399  15594041  Female   49            36000          1

### Ожидаемый результат:

```
User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0
      User ID  Gender  Age  EstimatedSalary  Purchased
395  15691863  Female   46            41000          1
396  15706071    Male   51            23000          1
397  15654296  Female   50            20000          1
398  15755018    Male   36            33000          0
399  15594041  Female   49            36000          1
```

2. Пожалуйста, реализуйте функцию ```frequency(data,columns)```, которая делает то же самое, что и ```pandas.Series.value_counts()```, за исключением того, что не использует сам этот метод, для всех существующих имен столбцов, указанных во входном аргументе. Входные аргументы:
    * ```data``` должен быть типа pandas.DataFrame
    * ```columns``` должен быть списком список с именами целевых столбцов

Кроме того, 
* если ```data``` не предоставлены, функция должна вернуть сообщение об ошибке.
* если ```columns``` не предоставлен, функция выполняет операцию для всех столбцов ```data```.

In [ ]:
#Функция считает количество значений
def frequency(data=None,columns=data.columns.to_list()):
#Функция подсчета по столбцам
  if type(data)==type(pd.DataFrame()):
    if type(columns) == type(['list']):
      pass
    else:
      columns=data.columns.to_list()
    dict_fin = {}
    # Берём название одного столбца
    for i in columns:
      unic = []
      loc_dict = {}
      # Если такой столбец есть
      if i in data.columns.to_list():
        data_f = data[i].to_list()
        # Выбираем все уникальные значения
        for j in data_f:
          if j not in unic:
            unic.append(j)
        # Заполняем словарь ключами из уникальных значений
        for k in unic:
          loc_dict[k]=0
        # Считаем сколько в столбце каждого уникального значения
        for h in unic:
          for q in data_f:
            if h==q:
              loc_dict[h]+=1
      # Создаём в общем словаре ключ с именем столбца и присваеваем ему значение словаря с посчитаными уникальными значениями
      dict_fin[i]=pd.Series(loc_dict)
    return dict_fin
  else:
    return "Error: input arguments are not provided properly frequency(data, columns)"
#Конец вашего кода

In [ ]:
res=frequency(columns=["Gender","EstimatedSalary"])
print(res)

Error: input arguments are not provided properly frequency(data, columns)

### Ожидаемый результат:

```
Error: input arguments are not provided properly frequency(data, columns)
```

In [ ]:
res=frequency(data=data,columns=["Gender","EstimatedSalary"])
for key, sr in res.items():
    print(f"Value counts for {key} column:")
    print(sr)
    print("-----------")

Value counts for Gender column:
Male      196
Female    204
dtype: int64
-----------
Value counts for EstimatedSalary column:
19000     2
20000     5
43000     7
57000     6
76000     3
         ..
99000     1
129000    1
46000     1
64000     1
139000    1
Length: 117, dtype: int64
-----------

### Ожидаемый результат:

```
Value counts for Gender column:
Male      196
Female    204
dtype: int64
-----------
Value counts for EstimatedSalary column:
19000     2
20000     5
43000     7
57000     6
76000     3
         ..
99000     1
129000    1
46000     1
64000     1
139000    1
Length: 117, dtype: int64
-----------
```

In [ ]:
res=frequency(data=data)
for key, sr in res.items():
    print(f"Value counts for {key} column:")
    print(sr)
    print("-----------")

Value counts for User ID column:
15624510    1
15810944    1
15668575    1
15603246    1
15804002    1
           ..
15691863    1
15706071    1
15654296    1
15755018    1
15594041    1
Length: 400, dtype: int64
-----------
Value counts for Gender column:
Male      196
Female    204
dtype: int64
-----------
Value counts for Age column:
19     7
35    32
26    16
27    13
32     9
25     6
20     7
18     5
29    10
47    14
45     7
46    12
48    14
49    10
31    11
21     4
28    12
33     9
30    11
23     6
24     9
22     5
59     7
34     6
39    15
38    13
37    20
42    16
40    15
36    12
41    16
58     6
55     3
52     6
60     7
56     3
53     5
50     4
51     3
57     5
44     2
43     3
54     4
dtype: int64
-----------
Value counts for EstimatedSalary column:
19000     2
20000     5
43000     7
57000     6
76000     3
         ..
99000     1
129000    1
46000     1
64000     1
139000    1
Length: 117, dtype: int64
-----------
Value counts for Purchased column:
0    257
1    143
dtype: int64
-----------

### Ожидаемый результат:

```
Value counts for User ID column:
15624510    1
15810944    1
15668575    1
15603246    1
15804002    1
           ..
15691863    1
15706071    1
15654296    1
15755018    1
15594041    1
Length: 400, dtype: int64
-----------
Value counts for Gender column:
Male      196
Female    204
dtype: int64
-----------
Value counts for Age column:
19     7
35    32
26    16
27    13
32     9
25     6
20     7
18     5
29    10
47    14
45     7
46    12
48    14
49    10
31    11
21     4
28    12
33     9
30    11
23     6
24     9
22     5
59     7
34     6
39    15
38    13
37    20
42    16
40    15
36    12
41    16
58     6
55     3
52     6
60     7
56     3
53     5
50     4
51     3
57     5
44     2
43     3
54     4
dtype: int64
-----------
Value counts for EstimatedSalary column:
19000     2
20000     5
43000     7
57000     6
76000     3
         ..
99000     1
129000    1
46000     1
64000     1
139000    1
Length: 117, dtype: int64
-----------
Value counts for Purchased column:
0    257
1    143
dtype: int64
-----------
```

3. Пожалуйста, реализуйте функцию ```frequency_easy(data,columns)```, которая делает то же самое, что ```frequency(data,columns)```, за исключением того, что вы можете использовать ```pandas.Series.value_counts()```, для всех существующих имен столбцов, указанных во входном аргументе. Входные аргументы: 
    * data должен быть типа pandas.DataFrame
    * columns должен быть списком список с именами целевых столбцов

Кроме того,
* если data не предоставлены, функция должна вернуть сообщение об ошибке.
* если columns не предоставлен, функция выполняет операцию для всех столбцов data.

In [ ]:
#Начало вашего кода
def frequency_easy(data=None,columns=data.columns.to_list()):
#Функция подсчета по столбцам
  if type(data)==type(pd.DataFrame()):
    if type(columns) == type(['list']):
      pass
    else:
      columns=data.columns.to_list()
    dict_fin = {}
    # Берём название одного столбца
    for i in columns:
      column = data[i]
      dict_fin[i]=column.value_counts()
    return dict_fin
  else:
    return "Error: input arguments are not provided properly frequency(data, columns)"
#Конец вашего кода

In [ ]:
res=frequency_easy(columns=["Gender","EstimatedSalary"])
print(res)

Error: input arguments are not provided properly frequency(data, columns)

### Ожидаемый результат:

```
Error: input arguments are not provided properly frequency_easy(data, columns)
```

In [ ]:
res=frequency_easy(data=data,columns=["Gender","Age"])
for key, sr in res.items():
    print(f"Value counts for {key} column:")
    print(sr)
    print("-----------")

Value counts for Gender column:
Female    204
Male      196
Name: Gender, dtype: int64
-----------
Value counts for Age column:
35    32
37    20
41    16
42    16
26    16
39    15
40    15
47    14
48    14
38    13
27    13
28    12
46    12
36    12
31    11
30    11
29    10
49    10
32     9
33     9
24     9
20     7
19     7
60     7
59     7
45     7
25     6
34     6
58     6
52     6
23     6
57     5
22     5
18     5
53     5
21     4
50     4
54     4
55     3
43     3
56     3
51     3
44     2
Name: Age, dtype: int64
-----------

### Ожидаемый результат:

```
Value counts for Gender column:
Female    204
Male      196
Name: Gender, dtype: int64
-----------
Value counts for Age column:
35    32
37    20
41    16
42    16
26    16
39    15
40    15
47    14
48    14
38    13
27    13
28    12
46    12
36    12
31    11
30    11
29    10
49    10
32     9
33     9
24     9
20     7
19     7
60     7
59     7
45     7
25     6
34     6
58     6
52     6
23     6
57     5
22     5
18     5
53     5
21     4
50     4
54     4
55     3
43     3
56     3
51     3
44     2
Name: Age, dtype: int64
-----------
```

# Прекрасная работа!