In [35]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

In [36]:
titanic = sns.load_dataset('titanic')
titanic.head()

   survived  pclass     sex   age  ...  deck  embark_town  alive  alone
0         0       3    male  22.0  ...   NaN  Southampton     no  False
1         1       1  female  38.0  ...     C    Cherbourg    yes  False
2         1       3  female  26.0  ...   NaN  Southampton    yes   True
3         1       1  female  35.0  ...     C  Southampton    yes  False
4         0       3    male  35.0  ...   NaN  Southampton     no   True

[5 rows x 15 columns]

In [37]:
selected_cols_titanic = titanic[['sex','alive','age','class']]
selected_cols_titanic.head()

      sex alive   age  class
0    male    no  22.0  Third
1  female   yes  38.0  First
2  female   yes  26.0  Third
3  female   yes  35.0  First
4    male    no  35.0  Third

In [38]:
ml_titanic = pd.get_dummies(selected_cols_titanic[['sex','alive','class']])
ml_titanic.head()

   sex_female  sex_male  alive_no  ...  class_First  class_Second  class_Third
0           0         1         1  ...            0             0            1
1           1         0         0  ...            1             0            0
2           1         0         0  ...            0             0            1
3           1         0         0  ...            1             0            0
4           0         1         1  ...            0             0            1

[5 rows x 7 columns]

In [39]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

In [40]:
X = ml_titanic.drop(['alive_no',	'alive_yes'], axis=1)
y = ml_titanic['alive_yes']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state=42)

model = LogisticRegression(solver='liblinear')
model.fit(X_train, y_train)

LogisticRegression(solver='liblinear')

In [41]:
model.score(X_test, y_test)
#0.7867564534231201
#0.7821229050279329

0.7821229050279329

In [55]:
type(X_test.iloc[0,:])
print(X_test.iloc[0,:])
print(X_test)

sex_female      0
sex_male        1
class_First     0
class_Second    0
class_Third     1
Name: 709, dtype: uint8
     sex_female  sex_male  class_First  class_Second  class_Third
709           0         1            0             0            1
439           0         1            0             1            0
840           0         1            0             0            1
720           1         0            0             1            0
39            1         0            0             0            1
..          ...       ...          ...           ...          ...
433           0         1            0             0            1
773           0         1            0             0            1
25            1         0            0             0            1
84            1         0            0             1            0
10            1         0            0             0            1

[179 rows x 5 columns]

In [62]:
s = pd.Series({'sex_female':1,  'sex_male':0,  'class_First':1,  'class_Second':0,  'class_Third':0})
print(s)

sex_female      1
sex_male        0
class_First     1
class_Second    0
class_Third     0
dtype: int64

In [63]:
model.predict([s])

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:446: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  "X does not have valid feature names, but"

array([1], dtype=uint8)

In [25]:
X.loc[2]

sex_female      1
sex_male        0
class_First     0
class_Second    0
class_Third     1
Name: 2, dtype: uint8