### Разбор времени и даты [Домашнее задание]

### Задания:

1. Загрузите данные из следующего CSV-файла **"scrubbed.csv"** (который прикреплен к видео)

2. Найдите, какой из столбцов содержит информацию о дате и времени.

3. Измените дату и время в столбце на следующее: '10/10/1949 20:30' -> 'October 10 of 1949 at 08:30 PM'

4. Сохраните данные с обновленным форматом даты и времени в новый файл в формате csv **"format_scrubbed.csv"**

In [4]:
import os
print(os.getcwd())

/content

In [2]:
import datetime as dt

# Новый раздел

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [5]:
# Первый. Метод без datatime.strptime

date = '10/12/2021'
print(f'date = {date}')
day, month, year = [int(d) for d in date.split('/')]
print(f'day = {day}')
print(f'month = {month}')
print(f'year = {year}')
cur_date = dt.datetime(year, month, day)
print(f'cur_date = {cur_date}')

date = 10/12/2021
day = 10
month = 12
year = 2021
cur_date = 2021-12-10 00:00:00

In [6]:
# Второй. Правильный метод

new_date = dt.datetime.strptime(date, '%d/%m/%Y')
print(f'new_date = {new_date}')

new_date = 2021-12-10 00:00:00

In [7]:
import csv

In [8]:
with open('scrubbed.csv', 'r') as file:
    csv_data = csv.reader(file)
    data = list(csv_data)
    old_d = dt.datetime.strptime(data[3][0], '%d/%m/%Y %H:%M')
    print(old_d)
    new_d = dt.datetime.strftime(old_d, '%B %d of %Y at %I:%M %p')
    print(new_d)

1955-10-10 17:00:00
October 10 of 1955 at 05:00 PM

In [31]:
with open('scrubbed.csv', 'r') as file:
    csv_data = csv.reader(file)
    data = list(csv_data)
    for row in data:
      if row[0][11:13] == '24':
        row[0] = row[0][:11] + '00' + row[0][13:]
        row[0] = row[0].strip()
      else:
        pass
    for row in data:
      try:
        new_d = dt.datetime.strptime(row[0], '%d/%m/%Y %H:%M')
        row[0] = dt.datetime.strftime(new_d, '%B %d of %Y at %I:%M %p')
      except:
        pass

In [33]:
from datetime import timedelta
def time24(time_str):
  new_time_str = time_str[:11] + '00' + time_str[13:]
  return new_time_str

test_time = '10/11/2006 24:00'
print(test_time[11:13])
if test_time[11:13] == '24':
  new_t = time24(test_time)
else:
  print(False)

print(new_t)

new_test_time = dt.datetime.strptime(new_t, '%d/%m/%Y %H:%M')
# October 10 of 1949 at 08:30 PM
time_for_print = dt.datetime.strftime(new_test_time, '%B %d of %Y at %I:%M %p')
print(time_for_print)

24
10/11/2006 00:00
November 10 of 2006 at 12:00 AM

In [32]:
with open('new_format_scrubbed.csv', 'w') as f:
    writer = csv.writer(f)
    for row in data:
        writer.writerow(row)