In [1]:
x1 = 45
x2 = 34
sd1 = 9
sd2 = 10
n1 = n2 = 100
t = (x1 - x2)/(((sd1**2)/n1+(sd2**2)/n2)**(1/2))
print('t=',t)

t= 8.176235608718828

In [9]:
import scipy.stats as st
import math
import numpy as np

x1 = 45
x2 = 34
sd1 = 9
sd2 = 10
n1 = n2 = 100
alpha = 0.95

se = math.sqrt(sd1**2 /n1 + sd2**2 /n2)
t = (x1 - x2) / se

df = n1 + n2 - 2

p_value = np.abs(st.t.ppf((1 - alpha) / 2, df))

print(f"""t-value: {t}
p-value для {alpha * 100}% доверительного интервала: {p_value}
""")
if t > p_value: 
    print("отвергаем нулевую гипотезу")
elif t < p_value:
    print("принимаем нулевой гипотезы")

t-value: 8.176235608718828
p-value для 95.0% доверительного интервала: 1.9720174778338955

отвергаем нулевую гипотезу

In [3]:
from scipy import stats
def t_student(x1,x2,sd1,sd2,n1,n2):
    return stats.t.sf((x1-x2)/((sd1**2/n1 + sd2**2/n2)**0.5),n1+n2 - 2) * 2


x1 = 45
x2 = 34
sd1 = 9
sd2 = 10
n1 = n2 = 100
answer = t_student(x1,x2,sd1,sd2,n1,n2)
print(answer)

3.4555440142902684e-14

In [5]:
'''
T-тест для средних двух независимых выборок из описательной статистики . 
Это проверка нулевой гипотезы о том, что две независимые выборки имеют одинаковые средние (ожидаемые) значения.
'''
import scipy
scipy.stats.ttest_ind_from_stats(45,9,100,34,10,100)

Ttest_indResult(statistic=8.176235608718828, pvalue=3.4555440142902684e-14)