Финальный Проект
---

Пожалуйста, создайте пакет **education**, который содержит следующие модули:

1. users
2. organizations

Когда вы запускаете пакет напрямую, он должен показывать все модули, указанные в пакете.

In [1]:
import education.organizations as org
import education.users as user

There are organizations and users modules in the package.
The education has imported successfully.

In [2]:
harvard = org.School(name="Harvard", address="Cambridge MA", phone="(617) 495-1000", email = 'harvard@gmail.com', num_stud=0, num_teachers=0)

yale = org.School(name="Yale", address="New Haven CT", phone="(203) 432-4771", email = 'yale@gmail.com', num_stud=0, num_teachers=0)

princeton = org.School(name="Princeton", address="Princeton NJ", phone="(609) 258-3000", email = 'princeton@gmail.com', num_stud=0, num_teachers=0)

In [3]:
harvard.add_teacher(name='Liam', surname='Johnson', age=35, gender='male', nationality='Bulgarian', school='Harvard', subject='Data Science')

harvard.add_teacher(name='Benjamin', surname='Davis', age=43, gender='male', nationality='Canadian', school='Harvard', subject='Economics')

harvard.add_teacher(name='Amelia', surname='Taylor', age=33, gender='female', nationality='Czech', school='Harvard', subject='History')

yale.add_teacher(name='Ethan', surname='Thomas', age=50, gender='male', nationality='Danish', school='Yale', subject='Economics')

yale.add_teacher(name='Olivia', surname='Lopez', age=50, gender='female', nationality='Spanish', school='Yale', subject='Art')

yale.add_teacher(name='Sophia', surname='Perez', age=29, gender='female', nationality='Thai', school='Yale', subject='Precalculus')

princeton.add_teacher(name='Oliver', surname='Harris', age=37, gender='male', nationality='Slovak', school='Princeton', subject='Biology')

princeton.add_teacher(name='Lucas', surname='Adams', age=44, gender='male', nationality='Irish', school='Princeton', subject='Geometry')

princeton.add_teacher(name='William', surname='Carter', age=34, gender='male', nationality='New Zealand', school='Princeton', subject='Algebra')

In [4]:
harvard.add_student(name='Liam', surname='Martin', age='22', gender='male', nationality='Spanish', school='Harvard', subject='Data Science')

harvard.add_student(name='William', surname='Bernard', age='20', gender='male', nationality='Czech', school='Harvard', subject='Data Science')

harvard.add_student(name='Elli', surname='Dubois', age='19', gender='female', nationality='Spanish', school='Harvard', subject='Data Science')

harvard.add_student(name='Lucas', surname='Thomas', age='22', gender='male', nationality='Czech', school='Harvard', subject='Data Science')

harvard.add_student(name='Ezra', surname='Robert', age='21', gender='female', nationality='Slovak', school='Harvard', subject='Economics')

harvard.add_student(name='Michael', surname='Richard', age='30', gender='male', nationality='Danish', school='Harvard', subject='Economics')

harvard.add_student(name='Daniela', surname='Petit', age='18', gender='female', nationality='Spanish', school='Harvard', subject='History')

harvard.add_student(name='Logan', surname='Scott', age='19', gender='male', nationality='Spanish', school='Harvard', subject='History')

harvard.add_student(name='Jackson', surname='Shala', age='20', gender='male', nationality='Danish', school='Harvard', subject='History')

harvard.add_student(name='Levi', surname='Bekim', age='21', gender='female', nationality='Slovak', school='Harvard', subject='History')

In [5]:
yale.add_student(name='Hudson', surname='Miller', age='18', gender='male', nationality='Canadian', school='Yale', subject='Economics')

yale.add_student(name='Charles', surname='Smith', age='20', gender='male', nationality='Canadian', school='Yale', subject='Economics')

yale.add_student(name='Caleb', surname='Martinez', age='22', gender='male', nationality='Spanish', school='Yale', subject='Economics')

yale.add_student(name='Isaiah', surname='Rodriguez', age='28', gender='male', nationality='Spanish', school='Yale', subject='')

yale.add_student(name='Ryan', surname='Jacot', age='18', gender='male', nationality='Thai', school='Yale', subject='Economics')

yale.add_student(name='Nataliya', surname='Habiger', age='20', gender='female', nationality='Slovak', school='Yale', subject='Art')

yale.add_student(name='Adrian', surname='Aaberg', age='21', gender='male', nationality='Spanish', school='Yale', subject='Art')

yale.add_student(name='Christian', surname='Smith', age='20', gender='male', nationality='Canadian', school='Yale', subject='Art')

yale.add_student(name='Maverick', surname='Zager', age='18', gender='male', nationality='Slovak', school='Yale', subject='Precalculus')

yale.add_student(name='Colton', surname='Faenza', age='19', gender='male', nationality='Slovak', school='Yale', subject='Precalculus')

In [6]:
princeton.add_student(name='Elias', surname='Garcia', age='20', gender='male', nationality='Spanish', school='Princeton', subject='Biology')

princeton.add_student(name='Aaron', surname='Scott', age='20', gender='male', nationality='Canadian', school='Princeton', subject='Algebra')

princeton.add_student(name='Eli', surname='Torres', age='21', gender='female', nationality='Spanish', school='Princeton', subject='Algebra')

princeton.add_student(name='Cameron', surname='Nguyen', age='18', gender='male', nationality='Thai', school='Princeton', subject='Algebra')

princeton.add_student(name='Ezekiel', surname='Hill', age='20', gender='male', nationality='Danish', school='Princeton', subject='Geometry')

princeton.add_student(name='Angel', surname='Green', age='21', gender='female', nationality='Canadian', school='Princeton', subject='Geometry')

princeton.add_student(name='Elliott', surname='Smith', age='23', gender='male', nationality='Danish', school='Princeton', subject='Algebra')

princeton.add_student(name='Emmanuel', surname='Baker', age='35', gender='male', nationality='', school='Princeton', subject='Geometry')

princeton.add_student(name='Augusta', surname='Mitchell', age='18', gender='female', nationality='Danish', school='Princeton', subject='Biology')

princeton.add_student(name='Erica', surname='Phillips', age='18', gender='female', nationality='Canadian', school='Princeton', subject='Biology')

In [7]:
harvard.get_report()
harvard.get_report_of_teachers()
harvard.get_report_of_students()

In [8]:
yale.get_report()
yale.get_report_of_teachers()
yale.get_report_of_students()

In [9]:
princeton.get_report()
princeton.get_report_of_teachers()
princeton.get_report_of_students()

In [10]:
harvard.add_student(name='Sam', surname='Smith', age='22', gender='male', nationality='USA', school='Harvard', subject='Data Science')
princeton.add_student(name='Tom', surname='Brown', age='21', gender='male', nationality='New Zealand', school='Princeton', subject='Algebra')
yale.add_student(name='Anna', surname='Somonova', age='18', gender='female', nationality='Slovak', school='Yale', subject='Precalculus')

In [11]:
harvard.list_of_students[5].add_subject('Data Science', 'History')

In [12]:
harvard.get_report()
harvard.get_report_of_teachers()
harvard.get_report_of_students()

In [13]:
yale.get_report()
yale.get_report_of_teachers()
yale.get_report_of_students()

In [14]:
princeton.get_report()
princeton.get_report_of_teachers()
princeton.get_report_of_students()

In [15]:
org.School.get_info_schools()
user.Teacher.get_info_teachers()
user.Student.get_info_students()

In [16]:
harvard.add_teacher(name='Liam', surname='Johnson', age=35, gender='male', nationality='Bulgarian', school='Harvard', subject='Data Science')
harvard.add_teacher(name='Liam', surname='Johnson', age=35, gender='male', nationality='Bulgarian', school='Harvard', subject='Data Science')
harvard.add_teacher(name='Liam', surname='Johnson', age=35, gender='male', nationality='Bulgarian', school='Harvard', subject='Data Science')

In [17]:
harvard.get_report()
harvard.get_report_of_teachers()

In [18]:
harvard.get_list_of_teachers()

{'Name': 'Liam', 'Surname': 'Johnson', 'Age': 35, 'Gender': 'male', 'Nationality': 'Bulgarian', 'School': 'Harvard', 'Subjects': 'Data Science'}
{'Name': 'Benjamin', 'Surname': 'Davis', 'Age': 43, 'Gender': 'male', 'Nationality': 'Canadian', 'School': 'Harvard', 'Subjects': 'Economics'}
{'Name': 'Amelia', 'Surname': 'Taylor', 'Age': 33, 'Gender': 'female', 'Nationality': 'Czech', 'School': 'Harvard', 'Subjects': 'History'}
{'Name': 'Liam', 'Surname': 'Johnson', 'Age': 35, 'Gender': 'male', 'Nationality': 'Bulgarian', 'School': 'Harvard', 'Subjects': 'Data Science'}
{'Name': 'Liam', 'Surname': 'Johnson', 'Age': 35, 'Gender': 'male', 'Nationality': 'Bulgarian', 'School': 'Harvard', 'Subjects': 'Data Science'}
{'Name': 'Liam', 'Surname': 'Johnson', 'Age': 35, 'Gender': 'male', 'Nationality': 'Bulgarian', 'School': 'Harvard', 'Subjects': 'Data Science'}

In [19]:
harvard.get_list_of_students()

{'Name': 'Liam', 'Surname': 'Martin', 'Age': '22', 'Gender': 'male', 'Nationality': 'Spanish', 'School': 'Harvard', 'Subjects': 'Data Science'}
{'Name': 'William', 'Surname': 'Bernard', 'Age': '20', 'Gender': 'male', 'Nationality': 'Czech', 'School': 'Harvard', 'Subjects': 'Data Science'}
{'Name': 'Elli', 'Surname': 'Dubois', 'Age': '19', 'Gender': 'female', 'Nationality': 'Spanish', 'School': 'Harvard', 'Subjects': 'Data Science'}
{'Name': 'Lucas', 'Surname': 'Thomas', 'Age': '22', 'Gender': 'male', 'Nationality': 'Czech', 'School': 'Harvard', 'Subjects': 'Data Science'}
{'Name': 'Ezra', 'Surname': 'Robert', 'Age': '21', 'Gender': 'female', 'Nationality': 'Slovak', 'School': 'Harvard', 'Subjects': 'Economics'}
{'Name': 'Michael', 'Surname': 'Richard', 'Age': '30', 'Gender': 'male', 'Nationality': 'Danish', 'School': 'Harvard', 'Subjects': 'Economics,Data Science,History'}
{'Name': 'Daniela', 'Surname': 'Petit', 'Age': '18', 'Gender': 'female', 'Nationality': 'Spanish', 'School': 'Harvard', 'Subjects': 'History'}
{'Name': 'Logan', 'Surname': 'Scott', 'Age': '19', 'Gender': 'male', 'Nationality': 'Spanish', 'School': 'Harvard', 'Subjects': 'History'}
{'Name': 'Jackson', 'Surname': 'Shala', 'Age': '20', 'Gender': 'male', 'Nationality': 'Danish', 'School': 'Harvard', 'Subjects': 'History'}
{'Name': 'Levi', 'Surname': 'Bekim', 'Age': '21', 'Gender': 'female', 'Nationality': 'Slovak', 'School': 'Harvard', 'Subjects': 'History'}
{'Name': 'Sam', 'Surname': 'Smith', 'Age': '22', 'Gender': 'male', 'Nationality': 'USA', 'School': 'Harvard', 'Subjects': 'Data Science'}

In [21]:
os.path.exists('reports/Harvard_students.csv')

True

## Описание модулей приведено ниже:

### Модуль **users** должен содержать классы **Human, Student(Human), Teacher(Human)**.

1. Класс **Human** должен содержать следующую информацию: имя, фамилию, возраст, пол, национальность, а также способы задания этой информации.
 
>``` 
> h1 = Human(name="John", familyname="Wick", age=35, gender="male", nationality="USA")
> ``` 

Список методов:
> ```
set_name()
set_family()
set_age()
set_gender()
set_nationality()
get_info() # возвращает словарь с личной информацией об объекте
> ```

2. Класс **Student** - это детский класс класса Human. Он должен содержать следующую информацию о каждом студенте: имя, фамилия, возраст, пол, национальность, название школы или университета, список предметов и соответствующие методы для установки этой информации.


Список методов в дополнение к списку методов из родительского класса Human:
> ```
set_school()
add_subject() # добавить предмет в список предметов
> ```


3. Класс **Teacher** - это детский класс класса Human. Он должен содержать следующую информацию о каждом преподавателе: имя, фамилия, возраст, пол, национальность, название школы или университета, предмет преподавания и соответствующие методы для установки этой информации.

Список методов в дополнение к списку методов из родительского класса Human:
> ```
set_school()
add_subject() # добавить предмет преподаваемый учителем
> ```

* При непосредственном запуске модуля **users** напрямую должен отображаться список классов, а также списки методов соответствующих классов, приведенных в модуле.

* Когда вы импортируете модуль, он должен показать, что модуль был успешно импортирован.

---

### Модуль **organizations** должен содержать класс **School**.

Класс **School** должен содержать следующую информацию: название или номер школы, адрес школы, номер телефона школы, электронный адрес учебного заведения, количество учеников, количество учителей, а также способы задания этой информации.
 
 
>``` 
> s1 = School(name="NIS", address="Astana, Kazakhstan", phone="999999", num_stud=1000, num_teachers=50)
> ``` 

Список методов:
> ```
set_name()
set_address()
set_phone()
set_email()
set_num_stud()
set_num_teachers()
add_student()
add_teacher()
get_info() # возвращает словарь с информацией про школу без личной информации студентов / преподавателей
get_report() # создает отчет (файл "csv") с информацией о школе и о каждом ученике, а также о преподавателе в этой школе. 
> ```

**Пожалуйста, сделайте правильный формат файла CSV (который вы считаете наиболее понятным)**

* При непосредственном запуске модуля **organizations** напрямую должен отображаться список классов, а также списки методов соответствующих классов, приведенных в модуле.

* Когда вы импортируете модуль, он должен показать, что модуль был успешно импортирован.

---

### Что делать в jupyter notebook?

В этом jupyter notebook, пожалуйста, проверьте все функциональные возможности вашего пакета. Как минимум создайте 2-3 школы, в каждой школе должно быть не менее 10 учеников (с разной информацией), а также как минимум 2 учителя разных предметов и личной информации. **Личная информация этих учеников, учителей и школ не должна быть правдивой (просто выдумайте).**

**Пожалуйста, заархивируйте пакет и данный jupyter notebook вместе и отправьте архивный файл.**

In [22]:
# Ваш код: